{% extends 'myapp/base.html' %} {% load static %}
{% block css%}
<link
  href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
  rel="stylesheet" />


<link rel="stylesheet" type="text/css" href="{% static 'myapp/assets/css/font-awesome.css' %}" />

<link rel="stylesheet" href="{% static 'myapp/assets/css/mystyle.css' %}" />
<style>
  @import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
</style>
{% endblock %}
{% block content %}
<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
  <div class="preloader-inner">
    <span class="dot"></span>
    <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<!-- ***** Preloader End ***** -->
<!--header-->
<!-- ***** Fleet Starts ***** -->

<section class="w3l-testimonials" id="testimonials">
  <div class="testimonials py-5">
    <section class="section" id="trainers">
      <div class="container">
        <br>
        <br>
        <div class="contact-form">
         
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label>Make:</label>

                  <form action="/search1/" method="get">
                    <input list="browsers" name="query" id="browser">
                    <datalist id="browsers">
                      <option value="Tata">
                        <option value="Suzuki">
                        <option value="Honda">
                        <option value="Mahindra">
                        <option value="Nissan">
                          <option value="Hyundai">
                            <option value="Renault">
                              <option value="Toyota">
                                <option value="Maruti">
                                  <option value="Chevrolet">
                                    <option value="ford">
                                      <option value="Volswagen">
                                        <option value="Skoda">
                                      <option value="MG">
                                      <option value="Kia">
                                        <option value="Jeep">
                    </datalist>
                    <div class="col-sm-4 offset-sm-4 my">
                      <div class="main-button text-center"></div>
                      <button class="btn btn-outline-primary theme-button">Search</button>
                    </div>
                  </form>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label>Body:</label>

                  <form action="/search2/" method="get">
                    <input list="browsers1" name="query" id="browser1">
                    <datalist id="browsers1">
                      <option value="Suv">
                        <option value="Hatchback">
                        <option value="Sedan">
                          <option value="Coupe">
                            <option value="Station Wagon">
                            <option value="Convertible">
                              <option value="Miniwan">
                    </datalist>
                    <div class="col-sm-4 offset-sm-4 my">
                      <div class="main-button text-center"></div>
                      <button class="btn btn-outline-primary theme-button">Search</button>
                    </div>
                  </form>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label>Fuel:</label>

                  <form action="/search3/" method="get">
                    <input list="browsers2" name="query" id="browser2">
                    <datalist id="browsers2">
                      <option value="Petrol">
                        <option value="Diesel">
                          <option value="CNG">
                            <option value="LPG">
                    </datalist>
                    <div class="col-sm-4 offset-sm-4 my">
                      <div class="main-button text-center"></div>
                      <button class="btn btn-outline-primary theme-button">Search</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            
        </div>
        <br>
        <br>
        </form>
      </div>

      <div class="row">
        {% for i in obj %}


        <div class="col-lg-4">
          <div class="trainer-item">
            <div class="image-thumb">
              <img src="/media/{{i.carimagefront}}" alt="">

            </div>
            <div class="down-content">
              <div><H5 style="color: white;">
                {{i.carname}}
             </H5></div>
              <span>
                <H5 style="color: white;">
                  Rs &nbsp; {{i.carprice}}
                </H5>
              </span>

              <div class="desc">{{i.cardesc|truncatechars:"300"}}</div>

              <p>
                <i class="fa fa-dashboard"></i> {{i.carlaunchdate}} &nbsp;&nbsp;&nbsp;
                <i class="fa fa-cube"></i> {{i.carcc}} cc &nbsp;&nbsp;&nbsp;
                <i class="fa fa-cog"></i> {{i.cartransmissiontype}} &nbsp;&nbsp;&nbsp;
              </p>

              <ul class="">
                <li><a class="btn btn-outline-primary theme-button" href="/newcardetail/{{i.id}}">View Car</a></li>
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>


      <div class="row">
        {% for i in product %}


        <div class="col-lg-4">
          <div class="trainer-item">
            <div class="image-thumb">
              <img src="/media/{{i.carimagefront}}" alt="">

            </div>
            <div class="down-content">
              <div><H5 style="color: white;">
                {{i.carname}}
             </H5></div>
              <span>
                <H5 style="color: white;">
                  Rs &nbsp; {{i.carprice}}
                </H5>
              </span>

              <div class="desc">{{i.cardesc|truncatechars:"300"}}</div>

              <p>
                <i class="fa fa-dashboard"></i> {{i.carlaunchdate}} &nbsp;&nbsp;&nbsp;
                <i class="fa fa-cube"></i> {{i.carcc}} cc &nbsp;&nbsp;&nbsp;
                <i class="fa fa-cog"></i> {{i.cartransmissiontype}} &nbsp;&nbsp;&nbsp;
              </p>

              <ul class="">
                <li><a class="btn btn-outline-primary theme-button" href="/newcardetail/{{i.id}}">View Car</a></li>
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>



    </section>
  </div>
</section>
{% endblock %}
{% block javascript %}
<!-- jQuery -->
<script src="{% static 'myapp/assets/js/jquery-2.1.0.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'myapp/assets/js/popper.js' %}"></script>


<!-- Plugins -->
<script src="{% static 'myapp/assets/js/scrollreveal.min.js' %}"></script>
<script src="{% static 'myapp/assets/js/waypoints.min.js' %}"></script>
<script src="{% static 'myapp/assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'myapp/assets/js/imgfix.min.js' %}"></script>
<script src="{% static 'myapp/assets/js/mixitup.js' %}"></script>
<script src="{% static 'myapp/assets/js/accordions.js' %}"></script>

<!-- Global Init -->
<script src="{% static 'myapp/assets/js/custom.js' %}"></script>
{% endblock %}