{% extends 'myapp/base.html' %}
{% load static %}
{% block css%}


<style>
    .custom-margin {
        margin-top: 5vh;
    }

    /* If you add background image it will look like transparent form*/
    body {

        background-image: linear-gradient(to bottom right, rgb(24 119 96), rgb(6 111 197));
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
    }
</style>
{% endblock %}



{% block content %}
<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ***** Preloader End ***** -->
<!--header-->
<section class="w3l-testimonials" id="testimonials">
    <div class="testimonials py-5">
        {% csrf_token %}{% csrf_token %}
        {% if otp %}
        <div class="container-fluid">
            <div class="row justify-content-center custom-margin">
                <div class="col-sm-6 col-md-4">
                    <form method="POST" class="shadow-lg p-4 text-black" style="border: solid 5px #51d19c;
                          border-radius: 34px; background: #0a70b7;">
                        {% csrf_token %}


                        <h3 style="color: #00ffc8; text-align: center;"> <b> VERIFY YOUR EMAIL</b></h3>

                        <input type="hidden" name="usr" value="{{usr.username}}">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">OTP</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter Your OTP" aria-label="OTP"
                                aria-describedby="basic-addon1" name='otp'>
                        </div>


                        <div class="form-grounp">
                            <button class="btn btn-outline-primary theme-button" type="submit">Verify</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        {% else %}


        <div class="container-fluid">
            <div class="row justify-content-center custom-margin">
                <div class="col-sm-6 col-md-4">




                    <!-- Add bg-primary in form tag if want form background color-->
                    <!--text-white if want text color white-->
                    <form name="form1" action=" " class="shadow-lg p-4 text-black" method="POST" style="border: solid 5px #51d19c;
            border-radius: 34px; background: #0a70b7;">
                        {% csrf_token %}

                        <div class="form-group">
                            <i style="color: #ffffff;" class="fas fa-user"></i><label for="username"
                                style="color: #ffffff;" class="pl-2 font-weight-bold">First Name</label>
                            <div class="form-contral">
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="form-group">
                            <i style="color: #ffffff;" class="fas fa-user"></i><label for="username"
                                style="color: #ffffff;" class="pl-2 font-weight-bold">Last Name</label>
                            <div class="form-contral">
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div class="form-group">
                            <i style="color: #ffffff;" class="fas fa-user"></i><label for="username"
                                style="color: #ffffff;" class="pl-2 font-weight-bold">Username</label>
                            <div class="form-contral">
                                {{ form.username }}
                            </div>
                            {% if uexist == 0 %}
                            <div class="alert alert-danger" role="alert">
                                User already Existed
                            </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <i style="color: #ffffff;" class="fas fa-envelope"></i><label for="email"
                                style="color: #ffffff;" class="pl-2 font-weight-bold">Email</label>
                            <div class="form-contral">
                                {{ form.email }}
                            </div>
                            {% if eexist == 0 %}
                            <div class="alert alert-danger" role="alert">
                                email already Existed
                            </div>
                            {% endif %}

                            <!--Add text-white below if want text color white-->
                            <small class="form-text" style="color: #ffffff;">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <i style="color: #ffffff;" class="fas fa-key"></i><label for="pass" style="color: #ffffff;"
                                class="pl-2 font-weight-bold">Password</label>
                            <div class="form-contral">
                                {{ form.password1 }}


                            </div>
                        </div>
                        <div class="form-group">
                            <i style="color: #ffffff;" class="fas fa-key"></i><label for="pass" style="color: #ffffff;"
                                class="pl-2 font-weight-bold">Confirm Password</label>
                            <div class="form-contral">
                                {{ form.password2 }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-primary theme-button" onclick="return Validate()">
                            Sign UP
                        </button>
                        <br><br>
                        <h6 style="color: #51d19c;"> Have an account?  <a href="{% url 'myapp_user_login' %}">Sign in here</a></h6>
                        
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
        <br>
    </div>
</section>
{% endblock %}


{% block javascript %}
<script type="text/javascript">
    function Validate() {
        var password = document.getElementById("id_password1").value;
        var confirmPassword = document.getElementById("id_password2").value;
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>

<!-- <script>
    function ValidateEmail(inputText)
{
var mailformat = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
if(inputText.value.match(mailformat))
{
alert("You have entered a valid email address!");    //The pop up alert for a valid email address
document.form1.email.focus();
return true;
}
else
{
alert("You have entered an invalid email address!");    //The pop up alert for an invalid email address
document.form1.email.focus();
return false;
}
}
</script> -->
{% endblock %}