{% extends 'myapp/base.html' %} {% load static %}
{% block css%}
<link
    href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
    rel="stylesheet" />


<link rel="stylesheet" type="text/css" href="{% static 'myapp/assets/css/font-awesome.css' %}" />

<link rel="stylesheet" href="{% static 'myapp/assets/css/mystyle.css' %}" />
<link rel="stylesheet" href="{% static 'myapp/assets/css/smoothproducts.css' %}">
<style>

</style>
{% endblock %}
{% block content %}
<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ***** Preloader End ***** -->
<!--header-->
<section class="w3l-testimonials" id="testimonials">
    <div class="testimonials py-5">
        <div class="container">
            <div class="row">

                <div class="col-sm-6">
                    <img src="{% static 'myapp/assets/images/about.png' %}" class="img-fluid" style="    height: 500px;"
                        alt="Responsive image">
                </div>
                <div class="col-sm-6">
                    <div class="cta-content" style="    margin-top: 25%;">
                        <br>
                        <br>
                        <h2 style="color:  rgb(6 112 191);">Meet our <em style="color: #51d19c;">Team</em></h2>
                        
                    </div>
                </div>
            </div>
        </div>



        <section class="section" id="trainers">
            <div class="container">
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="trainer-item">
                            <div class="image-thumb">
                                <img src="{% static "myapp/assets/images/hrishi.jpg" %}" class="img-fluid" alt="Responsive image">
                            </div>
                            <div class="down-content">
                                <span style="color: #51d19c;">CEO & Founder</span>
                                <h4 style="color: #51d19c;">Hrishikesh Kini</h4>
                                <p>GVM's GGPR College of Commerce & Economics</p>
                                <ul class="social-icons">
                                    <li><a href="#"><i class="fa fa-facebook" style="color: white;"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" style="color: white;"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" style="color: white;"></i></a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="trainer-item">
                            <div class="image-thumb">
                                <img src="{% static "myapp/assets/images/gaurang.jpg" %}" class="img-fluid" alt="Responsive image" alt="">
                            </div>
                            <div class="down-content">
                                <span style="color: #51d19c;">Co-Founder</span>
                                <h4 style="color: #51d19c;">Gaurang Desai</h4>
                                <p>GVM's GGPR College of Commerce & Economics</p>
                                <ul class="social-icons">
                                    <li><a href="#"><i class="fa fa-facebook" style="color: white;"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" style="color: white;"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" style="color: white;"></i></a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="trainer-item">
                            <div class="image-thumb">
                                <img src="{% static "myapp/assets/images/sameer1.jpeg" %}" class="img-fluid" alt="Responsive image" alt="">
                            </div>
                            <div class="down-content">
                                <span style="color: #51d19c;">Co-Founder</span>
                                <h4 style="color: #51d19c;">Sameer Patil</h4>
                                <p>GVM's GGPR College of Commerce & Economics</p>
                                <ul class="social-icons">
                                    <li><a href="#"><i class="fa fa-facebook" style="color: white;"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" style="color: white;"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" style="color: white;"></i></a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="trainer-item">
                            <div class="image-thumb">
                                <img src="{% static "myapp/assets/images/varad.jpg" %}" class="img-fluid" alt="Responsive image" alt="">
                            </div>
                            <div class="down-content">
                                <span style="color: #51d19c;">Customer Support</span>
                                <h4 style="color: #51d19c;">Varad Naik</h4>
                                <p>GVM's GGPR College of Commerce & Economics</p>
                                <ul class="social-icons">
                                    <li><a href="#"><i class="fa fa-facebook" style="color: white;"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" style="color: white;"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" style="color: white;"></i></a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="trainer-item">
                            <div class="image-thumb">
                                <img src="{% static "myapp/assets/images/saish.jpeg" %}" class="img-fluid" alt="Responsive image" alt="">
                            </div>
                            <div class="down-content">
                                <span style="color: #51d19c;">Customer Support</span>
                                <h4 style="color: #51d19c;">Saish Borkar</h4>
                                <p>GVM's GGPR College of Commerce & Economics</p>
                                <ul class="social-icons">
                                    <li><a href="#"><i class="fa fa-facebook" style="color: white;"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" style="color: white;"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" style="color: white;"></i></a></li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-6">
                        <div class="trainer-item">
                            <div class="image-thumb">
                                <img src="{% static "myapp/assets/images/sayed.jpg" %}" class="img-fluid" alt="Responsive image" alt="">
                            </div>
                            <div class="down-content">
                                <span style="color: #51d19c;">Customer Support</span>
                                <h4 style="color: #51d19c;">Shadman Syed</h4>
                                <p>GVM's GGPR College of Commerce & Economics</p>
                                <ul class="social-icons" style="color: white;">
                                    <li><a href="#"><i class="fa fa-facebook" style="color: white;"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" style="color: white;"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" style="color: white;"></i></a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

{% endblock %}
{% block javascript %}
<!-- jQuery -->
<!-- jQuery -->
<script src="{% static 'myapp/assets/js/jquery-2.1.0.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'myapp/assets/js/popper.js' %}"></script>
<script type="text/javascript" src="{% static 'myapp/assets/js/smoothproducts.min.js' %}"></script>
<script type="text/javascript">
    /* wait for images to load */
    $(window).load(function () {
        $('.sp-wrap').smoothproducts();
    });
</script>



<!-- Plugins -->
<script src="{% static 'myapp/assets/js/scrollreveal.min.js' %}"></script>
<script src="{% static 'myapp/assets/js/waypoints.min.js' %}"></script>
<script src="{% static 'myapp/assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'myapp/assets/js/imgfix.min.js' %}"></script>
<script src="{% static 'myapp/assets/js/mixitup.js' %}"></script>
<script src="{% static 'myapp/assets/js/accordions.js' %}"></script>

<!-- Global Init -->
<script src="{% static 'myapp/assets/js/custom.js' %}"></script>
{% endblock %}