{% extends 'myapp/base.html' %} {% load static %}
{% block css%}
<link
  href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
  rel="stylesheet" />


<link rel="stylesheet" type="text/css" href="{% static 'myapp/assets/css/font-awesome.css' %}" />

<link rel="stylesheet" href="{% static 'myapp/assets/css/mystyle.css' %}" />
<link rel="stylesheet" href="{% static 'myapp/assets/css/smoothproducts.css' %}">
<style>

</style>
{% endblock %}
{% block content %}
<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
  <div class="preloader-inner">
    <span class="dot"></span>
    <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<!-- ***** Preloader End ***** -->
<!--header-->

<!-- ***** Preloader Start ***** -->
<section class="w3l-testimonials" id="testimonials">
  <div class="testimonials py-5">
    <div class="customstick">

      <div class="sp-loading"><img src="{% static 'myapp/assets/images/sp-loading.gif' %}" alt=""><br>LOADING IMAGES
      </div>
      <div class="sp-wrap">
        {% for i in obj %}

        <a href="/media/{{i.carimagefront}}"><img src="/media/{{i.carimagefront}}" alt=""></a>
        <a href="/media/{{i.carimageleft}}"><img src="/media/{{i.carimageleft}}" alt=""></a>
        <a href="/media/{{i.carimageright}}"><img src="/media/{{i.carimageright}}" alt=""></a>
        <a href="/media/{{i.carimageback}}"><img src="/media/{{i.carimageback}}" alt=""></a>

        {% endfor %}

      </div>

    </div>
    {% for i in obj %}


    <div class="row" id="tabs">
      <div class="col-lg-4">
        <ul>
          <li><a href='#tabs-1'><i class="fa fa-cog"></i> Vehicle Specs</a></li>
          <li><a href='#tabs-2'><i class="fa fa-info-circle"></i> Vehicle Description</a></li>
          <li><a href='#tabs-3'><i class="fa fa-plus-circle"></i> Vehicle Extras</a></li>
          <li><a href='#tabs-4'><i class="fa fa-phone"></i> Contact Details</a></li>
        </ul>
      </div>
      <div class="col-lg-8">
        <section class='tabs-content' style="width: 100%">
          <article id='tabs-1'>
            <h4>Vehicle Specs</h4>

            <div class="row">
              <div class="col-sm-6">
                <label>Type</label>

                <p>Used Car</p>
              </div>

              <div class="col-sm-6">
                <label>Make</label>

                <p>{{ i.carname }}</p>
              </div>

              <div class="col-sm-6">
                <label> Ex. Showroom Price </label>

                <p>{{i.carprice}}</p>
              </div>

              <div class="col-sm-6">
                <label>Lauch Year</label>

                <p>{{i.carlaunchdate}}</p>
              </div>

              <div class="col-sm-6">
                <label>Mileage</label>

                <p>{{i.carmileage}}</p>
              </div>

              <div class="col-sm-6">
                <label>Fuel</label>

                <p>{{i.carfueltype}}</p>
              </div>

              <div class="col-sm-6">
                <label>Engine size</label>

                <p>{{i.carcc}} cc</p>
              </div>

              <div class="col-sm-6">
                <label>Our Rating</label>

                <p>{{i.carrating}}</p>
              </div>


              <div class="col-sm-6">
                <label>Gearbox</label>

                <p>{{i.cartransmissiontype}}</p>
              </div>

              <div class="col-sm-6">
                <label>Number of seats</label>

                <p>{{i.carseatingcapacity}}</p>
              </div>

              <div class="col-sm-6">
                <label>Body </label>

                <p>{{i.carbodytype}}</p>
              </div>

              <div class="col-sm-6">
                <label>Place</label>

                <p>Goa</p>
              </div>
            </div>
          </article>
          <article id='tabs-2'>
            <h4>Vehicle Description</h4>

            <p>- Colour coded bumpers <br> - Tinted glass <br> - Immobiliser <br> - Central locking - remote <br> -
              Passenger airbag <br> - Electric windows <br> - Rear head rests <br> - Radio <br> - CD player <br> - Ideal
              first car <br> - Warranty <br> - High level brake light <br> {{i.cardesc}}</p>
          </article>
          <article id='tabs-3'>
            <h4>Vehicle Extras</h4>

            <div class="row">
              <div class="col-sm-6">
                <label>Front Brake</label>
                <p>{{i.carfrontbrake}}</p>
              </div>
              <div class="col-sm-6">
                <label>Rear Brake</label>
                <p>{{i.carrearbrake}}</p>
              </div>
              <div class="col-sm-6">
                <label>Front Suspension</label>
                <p>{{i.carfrontsuspension}}</p>
              </div>
              <div class="col-sm-6">
                <label>Rear Suspension</label>
                <p>{{i.carrearsuspension}}</p>
              </div>
              <div class="col-sm-6">
                <label>Steering</label>
                <p>{{i.carsteeringtype}}</p>
              </div>
              <div class="col-sm-6">
                <label>Steering Column</label>
                <p>{{i.carsteeringcolumn}}</p>
              </div>
              <div class="col-sm-6">
                <label>Steering Gear</label>
                <p>{{i.carsteeringgeartype}}</p>
              </div>

            </div>
          </article>
          <article id='tabs-4'>
            <h4>Contact Details</h4>

            <div class="row">
              <div class="col-sm-6">
                <label>Name</label>

                <p>Syed Shadman(Sale Manager)</p>

              </div>
              <div class="col-sm-6">
                <label>Phone</label>

                <p>99484447338 </p>
              </div>
              <div class="col-sm-6">
                <label>Mobile phone</label>
                <p>93993484934 </p>
              </div>
              <div class="col-sm-6">
                <label>Email</label>
                <p><a href="#">carinfinity@gmail.com</a></p>
              </div>
            </div>
          </article>
        </section>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}


{% block javascript %}
<!-- jQuery -->
<!-- jQuery -->
<script src="{% static 'myapp/assets/js/jquery-2.1.0.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'myapp/assets/js/popper.js' %}"></script>
<script type="text/javascript" src="{% static 'myapp/assets/js/smoothproducts.min.js' %}"></script>
<script type="text/javascript">
  /* wait for images to load */
  $(window).load(function () {
    $('.sp-wrap').smoothproducts();
  });
</script>



<!-- Plugins -->
<script src="{% static 'myapp/assets/js/scrollreveal.min.js' %}"></script>
<script src="{% static 'myapp/assets/js/waypoints.min.js' %}"></script>
<script src="{% static 'myapp/assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'myapp/assets/js/imgfix.min.js' %}"></script>
<script src="{% static 'myapp/assets/js/mixitup.js' %}"></script>
<script src="{% static 'myapp/assets/js/accordions.js' %}"></script>

<!-- Global Init -->
<script src="{% static 'myapp/assets/js/custom.js' %}"></script>
{% endblock %}